@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;  
  
}

.aviso {
  font-family: 'Source Code Pro', monospace !important; 
  font-size: 10px;
  white-space: nowrap;
  color: #fff;
  margin-bottom: 30px;
}

p {
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  font-weight: bold;
  width: 800px;
  color: #fff;
}

.bg {
  background: url('https://cdna.artstation.com/p/assets/images/images/017/715/718/original/liliana-pita-pixel-city-water-try-again.gif?1557080526');
  background-size:cover;
  background-repeat: repeat;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .aside-1 { order: 1; } 
  .aside-2 { order: 3; }
}
